services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  redis-server:
    image: redis
    ports:
      - "6379:6379" 

volumes:
  mongo-data:
    driver: local