
    .home-container {
        background-image: url('./background.jpg');  
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.project-name {
    color: #b00d95;
    font-size: 7em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: darkenAndLighten 2s infinite alternate;
}

@keyframes darkenAndLighten {
    0% {
        color: #b00d95;
    }
    50% {
        color: #000;
    }
    100% {
        color: #b00d95;
    }
}
